# Python AI Service
medflow-ai/venv/
medflow-ai/data/
medflow-ai/__pycache__/
**/__pycache__/
*.pyc
medflow-ai/.env
medflow-ai/.pytest_cache/

# Node / NextJS
node_modules/
.next/
dist/
build/
*.log
.env.local
.env.*.local

medflow-ai/ViMQ_Model/model.pt

medflow-ai/ViMQ_Model/
